/.env
/.env.local
/.env.*.local
/.DS_Store
.idea/
.vscode/
vendor/
node_modules/
composer.lock
uploads/
tmp_*.php
*.log
*.cache
*.sqlite
/.phpunit.result.cache
/.sass-cache/
.tern-project
/.cache
/.history
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
/.grunt
/.sass-cache
thumbs.db
*.swp
*.swo
*.bak
src/includes/config.php